body{
  width: 100%;
  height: 100%;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0 ;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
}
input{
  outline: none;
}
.container{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.outline_none{
  outline: none;
}
.common_margin{
  margin: 16px 0;
}
.green{
  color: #22C55E;
}
button{
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a{
  width: 100%;
}
.link{
  color: #4A5568  ;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
.font{
  font-family: "Space Grotesk", sans-serif;
}
.h1 {
  font-size: 40px;
}
.h2 {
  font-size: 30px;
}
.item_name{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.item_count{
  font-size: 27px;
  margin: 0;
}
.p {
  font-size: 14px;
}
.small{
  font-size: 11px;
  line-height: 15px;
}
.big{
  font-size: 17px;
  line-height: 21px;
  
}

@media (max-width: 768px) {
  .container{
    min-width: 100% !important;
  }
  
}
